﻿@model MvcWebApi.MvcClient.Models.EmployeeInfo

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">Are you sure you want to delete this?</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EmpNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmpNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmpName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmpName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Salary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeptName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeptName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Designation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Designation)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            }
        </div>
        <div class="panel-footer">
            <a href="@Url.Action("Index","Employee")" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-arrow-left"></i></a>
        </div>
    </div>
</div>