﻿@using System.Web.Mvc.Html
@model IEnumerable<MvcWebApi.MvcClient.Models.EmployeeInfo>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="btn-group btn-group-sm">
        <a href="@Url.Action("Create", "Employee")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus-sign"></i></a>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Employees
            <div class="pull-right">
                <div class="btn-group btn-group-sm">
                    <a href="#" id="btnSearch" class="btn btn-xs">
                        <i class="glyphicon glyphicon-filter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EmpName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Salary)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeptName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Salary)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeptName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.EmpNo}) |
                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@item.EmpNo">Details</a> |
                                @Html.ActionLink("Delete", "Delete", new {id = item.EmpNo})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id='details' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='detailsModalContent'></div>
            </div>
        </div>
    </div>
    <div class="modal fade danger" id="search" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="pull-right">
                        <button data-dismiss="modal" type="button" class="close" title="Close">x</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-info">Search Employees Based on Department</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-horizontal">
                            @Html.Label("searchInput", "Search",new {@class="control-label col-sm-2"})
                            <div class="col-sm-10">
                                @Html.TextBox("searchInput","",new {@class="form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" value="Trash" class="btn btn-primary btn-xs" title="Search">
                        <i class="glyphicon glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('.anchorDetail').on('click', function() {
                var $buttonClick = $(this);
                var id = $buttonClick.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Details", "Employee")',
                    data: { "id": id },
                    success: function(data) {
                        $('#detailsModalContent').html(data);
                        $('#details').modal(options);
                        $('#details').modal('show');
                    },
                    error: function() {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            $("#closbtn").click(function() {
                $('#details').modal('hide');
            });
            $('#btnSearch').on('click', function() {
                $('#search').modal('show');
            });
            //$('#searchInput').on('keypress', function() {
            //    alert($('#searchInput').val());
            //});
            $('#searchInput').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Index", "Employee")',
                        datatype: 'JSON',
                        data: { department: $('#searchInput').val() },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return { label: item, value: item };
                            }));
                        }
                    });
                },
                messages: {
                    noResults: "",
                    results: ""
                }
            });
        });
    </script>
}